*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
        background-blend-mode: normal, multiply;
    color:white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border : none;
    background: white;
}

form button{

    color:rgba(34, 26, 26, 0.664);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover{

    background:rgba(34, 26, 26, 0.664);
    color: white;

}

.items-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-list{
    min-width: 30%;
    list-style: none;

}

.item{

    margin: 0.5rem;
    background:white;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;

}

.item li{
    flex:1;
}

.check-bttn, .delete-bttn{
    background-color:  #916874b4;
    color:white;
    border:none;
    padding:1rem;
    cursor: pointer;

}

.check-bttn{
    background: rgb(114, 179, 114);
}

.delete-bttn{
    background:rgb(209, 74, 74);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    appearance: none;
    outline:none;
    border:none;
}

.select{
    margin:1rem;
    position: relative;
    overflow: hidden;

}

select{
    color: #C4C1DF;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background:rgba(34, 26, 26, 0.664);
    top:0;
    right:0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease;
}

.select:hover::after{
    background:white;
    color: rgba(34, 26, 26, 0.664);
}

header{
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(32, 31, 31);
}

