*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 32, 32);
    color:green;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border : none;
    background: white;
}

form button{

    color:rgb(34, 32, 32);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover{

    background:rgb(73, 110, 73);
    color: white;

}

.items-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-list{
    min-width: 30%;
    list-style: none;

}

.item{

    margin: 0.5rem;
    background:white;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;

}

.item li{
    flex:1;
}

.check-bttn, .delete-bttn{
    background-color:  #916874b4;
    color:white;
    border:none;
    padding:1rem;
    cursor: pointer;

}

.check-bttn{
    background: rgb(114, 179, 114);
}

.delete-bttn{
    background:rgb(209, 74, 74);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    appearance: none;
    outline:none;
    border:none;
}

.select{
    margin:1rem;
    position: relative;
    overflow: hidden;

}

select{
    color: #C4C1DF;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background:rgb(34, 32, 32);
    top:0;
    right:0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease;
}

.select:hover::after{
    background: rgb(73, 110, 73);
    color: white;
}

header{
    
    color: rgb(73, 110, 73);
}

.fadeIn{
    animation: fadeIn 1s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


 #taskId {
    opacity: 0;
 }

 #taskId.show{
    transition: all 1s;
    height: auto;
    opacity: 1;
 }

 #taskBttn.hide{
    display: none;
 }

.btnContainer{
   
    display: flex;
    justify-content:  center;
    align-items: center;
    position: relative;
    height: 10em;
    
}

 .taskButton{

     margin:0;
     position: absolute;
     top:50%;
     left:50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     cursor: pointer;
     background: none;
     color: #ccc;
     width: 180px;
     height: 60px;
     border: 1px solid #338033;
     font-size: 18px;
     border-radius: 4px;
     transition: .6s;
     overflow: hidden;
 }

 .taskButton:focus {
    outline: none;
   }
   
   .taskButton:before {
       content: '';
       display: block;
       position: absolute;
       background: rgba(255,255,255,.5);
       width: 60px;
       height: 100%;
       left: 0;
       top: 0;
       opacity: .5;
       filter: blur(30px);
       transform: translateX(-130px) skewX(-15deg);
   }
   
   .taskButton:after {
       content: '';
       display: block;
       position: absolute;
       background: rgba(255,255,255,.2);
       width: 30px;
       height: 100%;
       left: 30px;
       top: 0;
       opacity: 0;
       filter: blur(30px);
       transform: translateX(-100px) scaleX(-15deg);
   }
   
  .taskButton:hover {
      background:rgb(73, 110, 73);
      cursor: pointer;
   }
   
   .taskButton:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
   }
   
   .taskButton:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
   }